.bg-container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.btn-start {
    width: 120px;
    height: 40px;
    background: #1a73e8;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-start a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.get-started-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #1a73e8;
    color: white;
    padding: 12px 22px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}
.get-started-btn:hover {
    background: #155fc0;
    transform: scale(1.05);
}