body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    display: flex;
    overflow: hidden;
    position: relative;

    background: linear-gradient(135deg, #49d1ed, #168fcc, #16b7d7);
    background-size: 400% 400%;
    animation: gradientBG 2s ease infinite;
}
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.half {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    color: white;
    background: rgba(58, 107, 122, 0.3);
}

h1 {
    margin-bottom: 20px;
}
button {
    width: 50%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: rgba(9, 106, 210, 0.818);
}
button:hover {
    opacity: 0.9;
}
.light-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(244, 239, 239), rgba(255, 255, 255, 0));
    z-index: 2;
}
